#header {
    height: 50px;
    background: #10284E;
    color: white;

}

#branding h1 {
    color: white;
}

a:link,
a:visited {
    color: #10284E
}

div.breadcrumbs {
    background : #30CAA0;
    color: #10284E;
}

div.breadcrumbs a {
    color: black;
}

.module h2, .module caption, .inline-group h2 {
    background : #30CAA0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #10284E;
    color: white;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background : #30CAA0;
    color: white;
}

input[type=submit].default:hover {
    background-color: #3e8e41;
}